<%= form_for(@avance) do |f| %>
  <%= render "shared/error_messages", :target => @avance %>

  <div class="field">
    <%= f.label :final_id %><br />
    <%= f.text_field :final_id %>
  </div>
  <div class="field">
    <%= f.label :prueba_id %><br />
    <%= f.text_field :prueba_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
