<h1>Listing avances</h1>

<table>
  <tr>
    <th>Final</th>
    <th>Prueba</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @avances.each do |avance| %>
  <tr>
    <td><%= avance.final_id %></td>
    <td><%= avance.prueba_id %></td>
    <td><%= link_to 'Show', avance %></td>
    <td><%= link_to 'Edit', edit_avance_path(avance) %></td>
    <td><%= link_to 'Destroy', avance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Avance', new_avance_path %>
