<p id="notice"><%= notice %></p>

<p>
  <b>Final:</b>
  <%= @avance.final_id %>
</p>

<p>
  <b>Prueba:</b>
  <%= @avance.prueba_id %>
</p>


<%= link_to 'Edit', edit_avance_path(@avance) %> |
<%= link_to 'Back', avances_path %>
