<%= form_for(@municipio) do |f| %>
    <%= render "shared/error_messages", :target => @municipio %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <select id="municipio_departamento_id" name="municipio[departamento_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@departamentos, "id", "name", @municipio.departamento_id ) %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
