<%= form_for(@municipio) do |f| %>
    <%= render "shared/error_messages", :target => @municipio %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br />
    <%= f.text_field :departamento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
