<%= form_for(@departamento) do |f| %>
    <%= render "shared/error_messages", :target => @departamento %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <select id="departamento_pais_id" name="departamento[pais_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@paises, "id", "name", @departamento.pais_id ) %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
