<%= form_for(@departamento) do |f| %>
    <%= render "shared/error_messages", :target => @departamento %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pais_id %><br />
    <%= f.text_field :pais_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
