<%= form_for(@programas_responsable) do |f| %>
    <%= render "shared/error_messages", :target => @programas_responsable %>

  <div class="field">
    <%= f.label :programa_id %><br />
    <%= f.text_field :programa_id %>
  </div>
  <div class="field">
    <%= f.label :instructor_id %><br />
    <%= f.text_field :instructor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
