<h1>Listing programas_responsables</h1>

<table>
  <tr>
    <th>Programa</th>
    <th>Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programas_responsables.each do |programas_responsable| %>
  <tr>
    <td><%= programas_responsable.programa_id %></td>
    <td><%= programas_responsable.instructor_id %></td>
    <td><%= link_to 'Show', programas_responsable %></td>
    <td><%= link_to 'Edit', edit_programas_responsable_path(programas_responsable) %></td>
    <td><%= link_to 'Destroy', programas_responsable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Programas responsable', new_programas_responsable_path %>
