<h1> :: Advanced :: </h1>
<h3> :: Knowledge :: </h3>
<h2> :: Monitor :: </h2>

<br />
| <%= link_to "Instructores", instructores_path %> |
<%= link_to "Aprendices", aprendices_path %> |
<%= link_to "Programas", programas_path %> |
<%= link_to "Equipos", equipos_path %> |
<%= link_to "Fases", fases_path %> |
