<%= form_for(@aprendiz) do |f| %>
  <%= render "shared/error_messages", :target => @aprendiz %>

  <div class="field">
    <%= f.label :cedula %><br />
    <%= f.text_field :cedula %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :fch_ncto %><br />
    <%= f.date_select :fch_ncto %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  
  <div class="field"> Genero:<br />
     Masculino <%= f.radio_button("genero", 1) %>
     Femenino <%= f.radio_button("genero", 0)%>
  </div>
  <div class="field">
    <%= f.label :municipio_id %><br />
    <select id="aprendiz_municipio_id" name="aprendiz[municipio_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@municipios, "id", "name", @aprendiz.municipio_id ) %>
    </select>
  </div>

  <div class="field">
    <%= f.label :equipo_id %><br />
    <select id="aprendiz_equipo_id" name="aprendiz[equipo_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@equipos, "id", "name", @aprendiz.equipo_id ) %>
		</select>
  </div>
  
  <div class="field">
    <%= f.label :programa_id %><br />
    <select id="aprendiz_programa_id" name="aprendiz[programa_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@programas, "id", "name", @aprendiz.programa_id ) %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

