<h1>Aprendices de <%= @equipo.name %></h1>

<table>
  <tr>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Apellido</th>
   
    <th>Email</th>
    <th>Telefono</th>
    <th>Genero</th>
    <th>Equipo</th>
    <th>Programa</th>
    <th></th>
    <th></th>
    <th></th>
   
  </tr>


  <% for aprendiz in @aprendices %>
  <tr>
    <td><%= aprendiz.cedula %></td>
    <td><%= aprendiz.nombre %></td>
    <td><%= aprendiz.apellido %></td>
   
    <td><%= aprendiz.email %></td>
    <td><%= aprendiz.telefono %></td>
    <td><%= aprendiz.genero1 %></td>
    <td><%= aprendiz.equipo.name %></td>
    <td><%= aprendiz.programa.name %></td>
    <td><%= link_to 'Show', equipo_aprendiz_path(@equipo, aprendiz) %></td>
    <td><%= link_to 'Edit', edit_equipo_aprendiz_path(@equipo, aprendiz) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aprendiz', new_equipo_aprendiz_path(@equipo) %>
<%= link_to 'Volver a equipos', equipos_path %>
