<h1>Listing aprendices</h1>

<table>
  <tr>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fch ncto</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Genero</th>
    <th>Municipio</th>
    <th>Equipo</th>
    <th>Programa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aprendices.each do |aprendiz| %>
  <tr>
    <td><%= aprendiz.cedula %></td>
    <td><%= aprendiz.nombre %></td>
    <td><%= aprendiz.apellido %></td>
    <td><%= aprendiz.fch_ncto %></td>
    <td><%= aprendiz.email %></td>
    <td><%= aprendiz.telefono %></td>
    <td><%= aprendiz.genero %></td>
    <td><%= aprendiz.municipio_id %></td>
    <td><%= aprendiz.equipo_id %></td>
    <td><%= aprendiz.programa_id %></td>
    <td><%= link_to 'Show', aprendiz %></td>
    <td><%= link_to 'Edit', edit_aprendiz_path(aprendiz) %></td>
    <td><%= link_to 'Destroy', aprendiz, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aprendiz', new_aprendiz_path %>
