<p id="notice"><%= notice %></p>

<p>
  <b>Cedula:</b>
  <%= @aprendiz.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @aprendiz.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @aprendiz.apellido %>
</p>

<p>
  <b>Fch ncto:</b>
  <%= @aprendiz.fch_ncto %>
</p>

<p>
  <b>Email:</b>
  <%= @aprendiz.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @aprendiz.telefono %>
</p>

<p>
  <b>Genero:</b>
  <%= @aprendiz.genero %>
</p>

<p>
  <b>Municipio:</b>
  <%= @aprendiz.municipio_id %>
</p>

<p>
  <b>Equipo:</b>
  <%= @aprendiz.equipo_id %>
</p>

<p>
  <b>Programa:</b>
  <%= @aprendiz.programa_id %>
</p>


<%= link_to 'Edit', edit_aprendiz_path(@aprendiz) %> |
<%= link_to 'Back', aprendices_path %>
