<%= form_for(@instructor) do |f| %>
    <%= render "shared/error_messages", :target => @instructor %>


  <div class="field">
    <%= f.label :cedula %><br />
    <%= f.text_field :cedula %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
