<p id="notice"><%= notice %></p>

<p>
  <b>Cedula:</b>
  <%= @instructor.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @instructor.nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @instructor.email %>
</p>


<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructores_path %>
