<%= form_for(@fase) do |f| %>
   <%= render "shared/error_messages", :target => @fase %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
