<%= form_for(@equipo) do |f| %>
    <%= render "shared/error_messages", :target => @equipo %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
