<%= form_for(@pregunta) do |f| %>
    <%= render "shared/error_messages", :target => @pregunta %>

  <div class="field">
    <%= f.label :pregunta %><br />
    <%= f.text_field :pregunta %>
  </div>
  <div class="field">
    <%= f.label :buena %><br />
    <%= f.text_field :buena %>
  </div>
  <div class="field">
    <%= f.label :puntaje %><br />
    <%= f.text_field :puntaje %>
  </div>
  <div class="field">
    <%= f.label :prueba_id %><br />
    <%= f.text_field :prueba_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
