<%= form_for(@pregunta) do |f| %>
    <%= render "shared/error_messages", :target => @pregunta %>

  <div class="field">
    <%= f.label :pregunta %><br />
    <%= f.text_field :pregunta %>
  </div>
  <div class="field">
    <%= f.label :buena %><br />
    <%= f.text_field :buena %>
  </div>
  <div class="field">
    <%= f.label :puntaje %><br />
    <%= f.text_field :puntaje %>
  </div>
  <div class="field">
    <%= f.label :prueba_id %><br />
    <select id="pregunta_prueba_id" name="pregunta[prueba_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@pruebas, "id", "name", @pregunta.prueba_id ) %>
		</select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
