<%= form_for(@pregunta) do |f| %>
<<<<<<< HEAD
    <%= render "shared/error_messages", :target => @pregunta %>
=======
    <%= render "shared/error_messages", :target => @apregunta %>
>>>>>>> 91e5d57f9089ec8ae55ea768a83e35d18f56e487

  <div class="field">
    <%= f.label :pregunta %><br />
    <%= f.text_field :pregunta %>
  </div>
  <div class="field">
    <%= f.label :buena %><br />
    <%= f.text_field :buena %>
  </div>
  <div class="field">
    <%= f.label :puntaje %><br />
    <%= f.text_field :puntaje %>
  </div>
  <div class="field">
    <%= f.label :prueba_id %><br />
    <%= f.text_field :prueba_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
