<%= form_for(@prueba) do |f| %>
    <%= render "shared/error_messages", :target => @prueba %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fch_limite %><br />
    <%= f.datetime_select :fch_limite %>
  </div>
  <div class="field">
    <%= f.label :fase_id %><br />
    <select id="prueba_fase_id" name="prueba[fase_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@fases, "id", "name", @prueba.fase_id ) %>
    </select>
  </div>
   <div class="field">
    <%= f.label :aprendiz_id %><br />
    <select id="prueba_aprendiz_id" name="prueba[aprendiz_id]" class ="campo">
            <option selected></option>
	      <%= options_from_collection_for_select(@aprendices, "id", "nombre", @prueba.aprendiz_id ) %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
