<%= form_for(@prueba) do |f| %>
    <%= render "shared/error_messages", :target => @prueba %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fch_limite %><br />
    <%= f.datetime_select :fch_limite %>
  </div>
  <div class="field">
    <%= f.label :fase_id %><br />
    <%= f.text_field :fase_id %>
  </div>
  <div class="field">
    <%= f.label :aprendiz_id %><br />
    <%= f.text_field :aprendiz_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
