<%= form_for(@resultado) do |f| %>
  <%= render "shared/error_messages", :target => @resultado %>

  <div class="field">
    <%= f.label :equipo_id %><br />
    <%= f.text_field :equipo_id %>
  </div>
  <div class="field">
    <%= f.label :respuesta_id %><br />
    <%= f.text_field :respuesta_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
