<%= form_for(@pais) do |f| %>
    <%= render "shared/error_messages", :target => @pais %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
