<%= form_for(@final) do |f| %>
    <%= render "shared/error_messages", :target => @final %>


  <div class="field">
    <%= f.label :totales %><br />
    <%= f.text_field :totales %>
  </div>
  <div class="field">
    <%= f.label :equipo_id %><br />
    <%= f.text_field :equipo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
