<h1>Listing finales</h1>

<table>
  <tr>
    <th>Totales</th>
    <th>Equipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finales.each do |final| %>
  <tr>
    <td><%= final.totales %></td>
    <td><%= final.equipo_id %></td>
    <td><%= link_to 'Show', final %></td>
    <td><%= link_to 'Edit', edit_final_path(final) %></td>
    <td><%= link_to 'Destroy', final, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Final', new_final_path %>
