<p id="notice"><%= notice %></p>

<p>
  <b>Totales:</b>
  <%= @final.totales %>
</p>

<p>
  <b>Equipo:</b>
  <%= @final.equipo_id %>
</p>


<%= link_to 'Edit', edit_final_path(@final) %> |
<%= link_to 'Back', finales_path %>
