<%= form_for(@respuesta) do |f| %>
    <%= render "shared/error_messages", :target => @respuesta %>

  <div class="field">
    <%= f.label :pregunta_id %><br />
    <select id="respuesta_pregunta_id" name="respuesta[pregunta_id]" class ="campo">
            <option selected></option>
	     <%= options_from_collection_for_select(@preguntas, "id", "pregunta", @respuesta.pregunta_id ) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :respuesta %><br />
    <%= f.text_field :respuesta %>
  </div>
  <div class="field">
    <%= f.label :letra %><br />
    <%= f.text_field :letra %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
