    <%= render "shared/error_messages", :target => @respuesta %>

  <div class="field">
    <%= f.label :respuesta %><br />
    <%= f.text_area :respuesta, :cols => 70, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :letra %><br />
    <%= select(:respuesta,
                :letra, { "A" => "A",
                          "B" => "B",
                          "C" => "C",
                          "D" => "D",
                          "E" => "E" },
                        { :selected => "" } )%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
