<%= form_for(@respuesta) do |f| %>
    <%= render "shared/error_messages", :target => @respuesta %>

  <div class="field">
    <%= f.label :pregunta_id %><br />
    <%= f.text_field :pregunta_id %>
  </div>
  <div class="field">
    <%= f.label :respuesta %><br />
    <%= f.text_field :respuesta %>
  </div>
  <div class="field">
    <%= f.label :letra %><br />
    <%= f.text_field :letra %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
