<h1>Listing respuestas</h1>

<table>
  <tr>
    <th>Pregunta</th>
    <th>Respuesta</th>
    <th>Letra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @respuestas.each do |respuesta| %>
  <tr>
    <td><%= respuesta.pregunta.pregunta %></td>
    <td><%= respuesta.respuesta %></td>
    <td><%= respuesta.letra %></td>
    <td><%= link_to 'Show', respuesta %></td>
    <td><%= link_to 'Edit', edit_respuesta_path(respuesta) %></td>
    <td><%= link_to 'Destroy', respuesta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Respuesta', new_respuesta_path %>
