<p id="notice"><%= notice %></p>

<p>
  <b>Pregunta:</b>
  <%= @respuesta.pregunta.pregunta %>
</p>

<p>
  <b>Respuesta:</b>
  <%= @respuesta.respuesta %>
</p>

<p>
  <b>Letra:</b>
  <%= @respuesta.letra %>
</p>

<%= link_to 'Edit', edit_pregunta_respuesta_path(@pregunta, respuesta)%> |
<%= link_to 'Back', pregunta_respuestas_path(@pregunta) %>

