<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>A K M</title>
  <meta />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>

<body>

  <div id="menuhoriz">
    <ul >
      <li><%= link_to "Equipos", equipos_path %></li>
      <li><%= link_to "Programas", programas_path %></li>
      <li><%= link_to "Fases", fases_path %></li>
      <li><%= link_to "pruebas", pruebas_path %></li>
      <li><%= link_to "preguntas", preguntas_path %></li>
      <li><%= link_to "Respuestas", respuestas_path %></li>
     </ul>
   </div >

   <br />

  <%= tmp = yield(:application) %>
    <% if tmp.blank? %>
    <%= yield %>
  <% end%>

   

</body>
</html>
